/* PHASE 3: Layout */

.content {
  background-color: #fff;
  width: 902px;
  margin: 0 auto;
  min-height: 200px;
  border-width: 0 1px 0px 0px;
  border-style: solid;
  border-color: #ccc;
  box-sizing: border-box;
}

.content-sidebar {
  float: left;
  min-height: 200px;
  width: 243px;
  /*background-color: green;*/
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.content-main{
  float: left;
  width: 658px;
  min-height: 200px;
  border: 0;
}
